.App {
  text-align: center;
}

h1{
  font-size: 4rem;
  color: #282c34;
  text-shadow: 2px 2px 0 whitesmoke;
}

@media (max-width: 767px) {
  h1{
      font-size: 3.5rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
